div{
  text-align: center;
}

button{
  background-color: blue;
  color: white;
  border-radius: 5px;
  font-size: 25px;
}

.add-page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

.add-page input{
  padding: 10px;
  height: auto;
  font-size: 25px;
}