.date-box{
  margin-top: 20px;
  height: auto;
  text-align: center;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.icons{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons span{
  font-size: 30px;
}

.status span{
  font-size: 25px;
}