.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-box{
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  width: 300px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:320px){
  .date-box{
    width: 94%;
  }
} 

.icons{
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.icons span{
  font-size: 30px;
}

.status span{
  font-size: 25px;
}